@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
}
#house-section{
  min-width: 1000px;
}
#control-panel{
  background-color: #444C57;
  color:white;
}
#water-usage-box{
  border-color: #527A89;
  font-family: Arial, Helvetica, sans-serif;
}
.house-service{
  display: flex;
  gap: 5px;
  align-items: center;
  margin:5px 0;
}
.appliance-icon{
  background-color: #1B3854;
  border: 1px solid #4B6B7A;
  display: flex;
}
.appliance-icon img{
  max-width: 20px;
  object-fit:cover;
  margin: 5px;
}
#blueWaterH{
  background-color: #9BD3FA;
}

#blueWaterV{
  background-color: #9BD3FA;
}