@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
}
#parent{
  min-width: 1000px;
}
#control-panel{
  background-color: #444C57;
  color:white;
}
#water-usage-box{
  border-color: #527A89;
  font-family: Arial, Helvetica, sans-serif;
}
.house-service{
  display: flex;
  gap: 5px;
  align-items: center;
  margin:5px 0;
}
.appliance-icon{
  background-color: #1B3854;
  border: 1px solid #4B6B7A;
  display: flex;
}
.appliance-icon img{
  max-width: 20px;
  object-fit:cover;
  margin: 5px;
}
#blueWaterH{
  background-color: #9BD3FA;
}
#blueWaterV{
  background-color: #9BD3FA;
}


.bubble {
  background-color: yellow;
  border-radius: 20px;
  padding: 20px;
  animation: bubbleAnimation 3s alternate infinite;
}

.bubble-tail {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid yellow; /* Match bubble background color */
  bottom: -10px; /* Adjust to position the tail at the bottom right */
  right: -10px; /* Adjust to position the tail at the bottom right */
}

@keyframes bubbleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

p {
  margin: 0;
  text-align: center;
}


@keyframes emptyAnimation {
  0% {
    y: 40%;
  }
  100% {
    y: 100%;
  }
}

.waterAnimation {
  animation: emptyAnimation 5s linear forwards, fillAnimation 10s 5s linear forwards;
}

 @keyframes fillAnimation {
  0% {
    y: 100%;
  }
  100% {
    y: 60%;
  }
}

@keyframes emptyAnimationRight {
  0% {
    y: 40%;
  }
  100% {
    y: 100%;
  }
}

.waterAnimationRight {
  animation: emptyAnimationRight 5s linear infinite alternate
}

.waterBall{
  background-color: #17cdfe;
  border-color: #17cdfe;
  visibility: hidden;
}
.waterBallAnimation{
  animation: waterBallRunning 3s linear infinite;

}
@keyframes waterBallRunning {
  0% {
    top: 60%;
    visibility: visible;
  }
  15%{
    top: 10%;
    visibility:visible
  }
  20%{
    right: 97%;
    top:10%;
    visibility:visible;
  }
  
  50%{
    right: 60%;
    top:10%;
    visibility:visible;
  }
  80%{
    right: 30%;
    top:10%;
    visibility:visible;
  }
  100%{
    right: 0%;
    top:10%;
    visibility:visible;
  }
  
}

.animateP {
  transform: translateX(200px); /* Move the slanted line horizontally */
}

#water-tube,#upper-tube{
  width: calc(100% - 4.75rem);
}
#right-water-tube,#right-upper-tube{
  width: calc(100% - 4.75rem);
}

@keyframes rotateNeedle {
  0% {
    transform: rotate(-0deg);
  }
  100% {
    transform: rotate(70deg); /* Adjust the angle as needed to point to "15" */
  }
}

#needle-path {
  animation: rotateNeedle 2s ease-in-out infinite; /* You can adjust the duration as needed */
  transform-origin: 3.952px 6.758px; /* Specify the center point for rotation */
}





